<div class="row" ng-cloak>
  <div class="col-md-3">
    <div class="box box-warning">
      <div class="box-header with-border">
        <h3 class="box-title">{{parseDate(weather.dt) | date:'fullDate'}}</h3>
        <div class="box-tools pull-right">
          <!-- Buttons, labels, and many other things can be placed here! -->
          <!-- Here is a label for example -->
          <span class="label label-primary">{{weather.name}}</span>
        </div><!-- /.box-tools -->
      </div><!-- /.box-header -->
      <div class="box-body">
        <!-- <p class="lead">{{weather.name}}</p> -->
        <p class="lead">
          <img ng-src="{{getIconImageUrl(weather.weather[0].icon)}}" />
          <b>{{weather.main.temp | number:1}}&#176;C {{weather.weather[0].main}}</b>
        </p>
        <p>
          {{weather.weather[0].description}}&nbsp;&#126;&nbsp;
          High: {{weather.main.temp_max}}&#176;C&nbsp;&#126;&nbsp;
          Low: {{weather.main.temp_min}}&#176;C
        </p>
      </div><!-- /.box-body -->
      <div class="box-footer">
        <small>
          Pressure: {{weather.main.pressure}} hPa&nbsp;&#126;&nbsp;
          Humidity: {{weather.main.humidity}}%
        </small>
      </div><!-- box-footer -->
    </div><!-- /.box -->
  </div>
  <div class="col-md-3">
    <weather-panel forecast="forecast" forecast-day="forecast.list[1]"></weather-panel>
  </div>
  <div class="col-md-3">
    <weather-panel forecast="forecast" forecast-day="forecast.list[2]"></weather-panel>
  </div>
  <div class="col-md-3">
    <weather-panel forecast="forecast" forecast-day="forecast.list[3]"></weather-panel>
  </div>
</div>

<!-- New weather widget from http://www.ivivelabs.com/blog/angularjs-weather-forecast-widget-part-1/ -->
<!-- <div class="box ">
  <div class="box-body blur">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 bg">    
          <div class="pull-left">
            <h3 class="title">{{forecast.city.name}}, {{forecast.city.country}}</h3>
            <h4>{{forecast.city.coord.lat | number:4 }}, {{forecast.city.coord.lon | number:4 }}</h4>
          </div>
          <div class="pull-right text-center">
            <br />
            <img src="img/clock.png" width="48" alt="Location" />
            <br />
            {{ currentTime }}
          </div>      
        </div>
      </div>
      <div class="row">    
        <div class="col-xs-2 weather-days today" >
          <h3>{{ parseDay(weather.dt) }}</h3>      
          <span class="temp-title">
            {{ weather.main.temp | number:2}}&deg;
          </span><br /><br />
          <span class="speed">
            {{ weather.wind.speed }} km/h
          </span>      
        </div>
        <div class="col-xs-10">
          <div class="row">    
            <div class="weather-days col-xs-12 col-md-2" ng-repeat="day in forecast.list" ng-hide="$first" >    
              <div>
                <span class="badge">
                  {{ parseDay(day.dt)  }}
                </span><br />
                <span class="temp-title">
                  {{ day.temp.day}}&deg;
                </span><br />
                <span class="speed">
                  {{ day.speed }} km/h
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>--> 


<div class="box" ng-cloak>
  <div class="box-body blur">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 bg">    
          <div class="pull-left">
            <h3 class="title">{{forecast.city.name}}, {{forecast.city.country}}</h3>
            <h4>{{forecast.city.coord.lat | number:4 }}, {{forecast.city.coord.lon | number:4 }}</h4>
          </div>
          <div class="pull-right text-center">
            <br />
            <img src="img/clock.png" width="48" alt="Location" />
            <br />
            {{ currentTime }}
          </div>      
        </div>
      </div>
      <div class="row">    
        <div class="col-xs-2 weather-days today" >
          <h3 class="title">{{ parseDay(weather.dt) }}</h3>
          <div class="media">
            <div class="media-left">
              <a>
                <img class="media-object" ng-src="{{getIconImageUrl(weather.weather[0].icon)}}" alt="">
              </a>
            </div>
            <div class="media-body">
              <span class="temp-title">{{ weather.main.temp | number:2}}&deg;</span>
             <!--  <br /><br /> -->
            </div>
          </div>
          <span class="humidity">H: &nbsp;{{ weather.main.humidity}} %</span>&nbsp;
          <span class="speed">W: &nbsp;{{ weather.wind.speed }} m/s</span>      
        </div>
 
        <div class="col-xs-10">
          <div class="row">    
            <div class="weather-days col-xs-12 col-md-2" ng-repeat="day in forecast.list" ng-hide="$first" >    
              <div>
                <span class="badge">
                  {{ parseDay(day.dt)  }}
                </span><br />
                <div class="media">
                  <div class="media-left">
                    <a>
                      <img class="media-object" ng-src="{{getIconImageUrl(day.weather[0].icon)}}" alt="">
                    </a>
                  </div>
                  <div class="media-body">
                    <span class="temp-title">{{ day.temp.day | number:2}}&deg;</span>
                   <!--  <br /><br /> -->
                  </div>
                </div>
                <span class="humidity">H: &nbsp;{{ day.humidity}} % &nbsp;</span>
                <span class="speed">W: &nbsp;{{ day.speed }} m/s</span>
              </div>
            </div>
          </div>
        </div>
      </div>  
  </div><!-- /.box-body -->
</div><!-- /.box -->
